# Enviroment variables
.env
# Logs
*.log
# Live, Test and Backup dbs
*.db
# I dont want to spend 7 years uploading a single commit
node_modules
# These are only required for my instance of Akivili, such as a restart for the raspberry
/src/commands/birb
# I dont complite the ts code into js, but just for safety
/dist
# You dont need my vs code settings
.vscode
# WIP
*.txt
# These will be published after every april 1st
april-fools*.ts
# Unit test config
unit-test-config.ts